*{
  padding:0;
  margin:0;
}
#bgAll{
  background-image: url(backgroundImg3.png);
}
header{
  background-color: #4dad5b;
  padding:2%;
  text-align: center;
}
#main{
    width: 900px;
    height: 100vh;
    position: relative;
    margin: 0 auto;
}
#pokeDex{
 background-color: rgba(255, 0, 0, 0.5);
 background-size: 900px 500px;
 width: 900px;
 height: 695px;
}
#imgHolder{
  position: absolute;
  width: 445px;
  height: 525px;
}
#pokeSize{
  width: 400px;
  height:300px;
}
.poke img {
  /* width: 100%; */
  width: 150px;
  height: 150px;
  margin:  10px auto;
  /* border-radius: 50%; */
}
.col{
  border-style: double;
}
div.col {
  padding: 0px;
}

.card {
  width: 400px;
  height: 450px;

}

/* ************************************************************************* */

#trainer{
  height: 160px;
  width:120px;
}

#trainer1{
  height: 160px;
  width:120px;
}

#trainer2{
  height: 160px;
  width:120px;
}
#trainer3{
  height: 160px;
  width: 180px;
}
#hilda{
  height: 160px;
  width: 180px;
}
ol{
  display:inline-block;
  border-style: solid;
  border-color: darkred;
  border-spacing: inherit;
}

 /* this is the keyframe for trainers to slide in */
.anim{
   animation-name: slide;
   animation-duration: 2s;

 }
 @keyframes slide {
   from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

 }

.card-img-top{
  width: 400px;
  height:300px;
}
.card-body{
  padding:0;
  margin:0;
}
.card-text{
  color: white;
}
.card-title{
  color: white;
}
.product{
  position: absolute;
  bottom:45px;
  left:400px;
  width:500px;
  height:100px;
}
.pokeTrainer{
  /* display: inline-block; */
  height: 50px;
  width: 50px;
}
